* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;


}

body {
    background-image: url(../images/bgimage.gif);
    position: relative;
    color: white;
    font-family: 'Montserrat';
}

.navbar-brand {
    font-weight: 600;
    color: #063E85;
}
#landing-page{
    position: relative;
    top: 100px;
    max-width: 800px;
}

#landing-page img{
    width: 100px;
    height: 120px;
    border-radius: 50%;
    border: 5px solid #063E85;
}

#landing-page h2{
    font-weight: 700;
    font-size: 30px;
}

#landing-page p{
    font-family: 'Courier New', Courier, monospace;
    line-height: 2em;
    margin-top: 10px;
    font-size: 15px;
}

#landing-page a{
    color: #fff;
    margin-right: 10px;
}

/* PROJECTS */
#projects {

    color: #fff;
}
#projects h2{
    font-weight: 600;
}
#projects #proj-sect{
    border: 2px solid #fff;
    border-radius: 10px;
    margin-top: 15px;
    padding: 10px;
    background-color: #063E85;

}
#projects img{
    width: 200px;
    height: 150px;
    border-radius: 10px;
}
#projects a{
    color: #fff;
    float: right;
    font-family: 'Tsuki Typeface';
}

#projects h3{
    margin-top: 10px;
    font-weight: bolder;
    font-size: 25px;
}

#projects p{
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
}