* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;


}

body {
    background-image: url(../images/bgimage.gif);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    filter: blur(5%);
    -webkit-backdrop-filter: blur(5);
    color: white;
    font-family: 'Montserrat';
}
